fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
alembic
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
geoalchemy2
xarray
netCDF4
pandas
chromadb
sentence-transformers
langchain
google-generativeai
reportlab
numpy
scipy
matplotlib
gunicorn